@import helper._

@(tweets: List[Tweets])

<html>
<head>
    <title>Twitter Bruno</title>
</head>

<body>
@form(action=routes.Application.index()){
<span>Informe os perfis ou hashtags separados pro vírgula (,)</span>
<br>
<input type="text" name="values" id="inputID" size="50">
<input type="submit">
}

<div id="contentID" style="background-color: #F4F4F4; min-height: 100px; min-width: 100px;">
    <ul>
        @for(tweet <- tweets) {
        <li>@tweet.getName() : (@tweet.getText())</li>
        }
    </ul>
</div>
</body>
</html>